@import "./helpers.scss";

.navbar {
  width: 100vw;
  .navbar-icon {
    position: relative;
    cursor: pointer;
    width: 30px;
    right: 16px;
    top: 24px;
    margin-left: auto;
    @include for-desktop-up() {
      right: 170px;
      top: 40px;
    }
    .navbar-icon-lines {
      width: 100%;
      height: 3px;
      background: #000;
      display: block;
      position: absolute;
      top: 8px;
      transition: all 0.4s ease-in-out;
      opacity: 1;
      &:first-child {
        top: 0;
      }
      &:last-child {
        top: 16px;
      }
      &.deactivated {
        opacity: 0;
      }
      &.line-a {
        top: 8px;
        transform: rotate(315deg);
        background: #fff;
      }
      &.line-b {
        top: 8px;
        transform: rotate(-315deg);
        background: #fff;
      }
    }
  }
  .navbar-links {
   height: 0;
   overflow: hidden;
   transition: height .3s ease-in-out;
   background: #000;
    &.active {
      height: 100vh;
    }
    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 60vh;
      margin: 0;
      padding: 0;
      margin: 32px 0;
    }
    li {
      align-self: center;
      list-style: none;
      margin: 8px;
      color: #fff;
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      font-size: 2rem;
    }
  }
}
