.new-workout {
  .add-button {
    text-align: center;
    button {
      background: #f2f2f2;
      border: 1px solid #fff;
      border-radius: 8px;
      padding: 8px 32px;
    }
  }
  .close-button {
    text-align: right;
    padding: 16px 8px 0 0;
    button {
      color: #fff;
      background: none;
      border: none;
      font-weight: 900;
    }
  }
  &_form {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100%;
    background-color: #30336b;
    text-align: center;
    max-width: 0;
    overflow: hidden;
    transition: max-width .3s ease-in-out;
    &.active {
      max-width: 100vw;
      .overlay {
        background: #30336b;
        opacity: 0.5;
        width: 85vw;
        height: 85vh;
        z-index: -1;
        position: fixed;
      }
    }
    .overlay {
      transition: background .3s ease-in-out;
    } 
    form {
      padding: 0 16px;

    }
    label {
      display: block;
      padding: 32px 0;
      font-size: 2rem;
      color: #fff;
    }
    input {
      width: 100%;
      border-radius: 4px;
      border: none;
      margin: 4px 0;
      padding: 8px 4px;
      &:first-child {
        margin-top: 32px;
      }
    }
  }  
}

