.workout-wrapper {
  .workout-list--header {
    background: #95afc0;
    padding-bottom: 48px;
    padding-top: 24px;
    h2 {
      margin: 0;
      padding: 64px 0 32px;
      font-family: 'Montserrat', sans-serif;
      font-size: 2.5rem;
      text-align: center;
    }
  }
  .workout-list {
    width: 100%;
    margin-top: -16px;
    padding: 32px 8px;
    background: #fff;
    border-radius: 16px;
    ul {
      padding:0;
      margin: 0;      
    }
  }
}
