.workout-card {
  background: #f2f2f2;
  border-radius: 8px;
  cursor: pointer;
  margin: 10px 0;
  padding: 8px 16px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  
  &:hover{
    opacity: 0.7;
  }
  .workout-card__title {
    flex-basis: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: 2;
    text-transform: capitalize;
  }
  .workout-card__content {
    display: flex;
    .detail {
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 0.9rem;
    }
  }
}